.it-modal {
  position: relative;
  .it-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: transparent;
    text-align: center;
    svg {
      position: relative;
      top: 8px;
    }
  }
  .social {
    position: relative;
    span {
      position: relative;
      top: 8px;
    }
  }
  .social:first-child {
    margin-right: 40px;
  }
  &.it-modal-sing {
    .it-sing {
      margin-top: 0;
    }
  }
  &.it-modal-sing {
    .modal-content {
      width: 470px;
      margin: 0 auto;
      position: relative;
      margin-top: 24px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
      padding: 75px;
      padding-top: 60px;
      padding-bottom: 60px;
      .it-close {
        background-color: transparent;
        top: 6px;
        right: 6px;
        svg {
          path {
            fill: #80818e
          }
        }
      }
      label {
        margin-bottom: 0;
      }
    }
  }
  .social {
    margin-top: 30px;
  }
}
.it-modal-sing-wrap {
  .modal-backdrop.show {
    opacity: 0.5;
  }
}
