.it-account {
  margin-top: 40px;
  .left-nav {
    padding-right: 55px;
  }
  .name {
    position: relative;
    top: 8px;
  }
  .text_with_icon {
    padding-left: 36px;
    vertical-align: middle;
    img {
      width: 16px;
    }
    .text {
      padding-left: 15px;
      position: relative;
    }
    .active_nav {
      display: none;
    }
  }
  .active_tab {
    background-color: rgba(72, 101, 213, 0.05);
    .active_line {
      background-color: rgba(72, 101, 213, 1);
      height: 100%;
      width: 4px;
      position: absolute;
      top: 0;
      left: -1px;
    }
  }
  .account {
    margin-top: 32px;
    padding-right: 60px;
    padding-left: 60px;
    .personal_information {
      margin-top: 30px;
    }
  }
  .other-setting {
    margin-top: 30px;
  }
  .password {
    margin-top: 40px;
  }
  .timezone {
    margin-top: 42px;
  }
  .avatar {
    margin-top: 120px;
  }

}