.it-left-panel {
  width: 94px;
  height: 100%;
  background-color: #f5f7fa;
  position: absolute;
  .logo {
    width: 30px;
  }
  .icon {
    font-size: 22px;
  }
  .img_icon, .icon {
    opacity: 0.8;
  }
  .img_icon {
    width: 22px;
  }
  .footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: auto;
  }
  .active {
    background-color: white;
    box-shadow: -1px -1px 8px 0 rgba(0, 0, 0, .2);
    z-index: 0;
  }
  .item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    p {
      margin-bottom: 0;
    }
  }
}