.it-left-panel {
  width: 94px;
  height: 100%;
  background-color: #f5f7fa;
  position: fixed;
  .logo {
    width: 30px;
  }
}
.it-left-panel-nav {
  width: 94px;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 45px;
  padding-top: 1px;
  .icon {
    font-size: 22px;
  }
  .img_icon, .icon {
    opacity: 0.8;
  }
  .img_icon {
    width: 22px;
  }
  .img_icon_c {
    width: 22px;
  }
  .footer {
    position: absolute;
    bottom: 55px;
    width: 100%;
  }
  .active {
    background-color: white;
    box-shadow: -9px -1px 8px 2px rgba(0, 0, 0, 0.2);
    z-index: 0;
    width: calc(100% + 5px);
    padding-right: 5px;
    div {
      .it-badge {
        right: 23px;
      }
    }
  }
  .item {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 14px;
    margin-top: 1px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 400ms;
    p {
      margin-bottom: 0;
    }
    position: relative;
    .it-badge {
      position: absolute;
      top: 8px;
      right: 22px;
      font-size: 11px;
      width: 16px;
      height: 16px;
      border-radius: 50px;
    }
  }
  .item:hover {
    opacity: 0.8;
  }
  .item.active:hover {
    opacity: 1;
  }
  .it-timezone {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
  }
}