//Itrade

@import "left_panel";
@import "top_panel";
@import "wallet";
@import "my_orders";
@import "my_orders_full";
@import "add_currency";
@import "analytics";


@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Avenir Next Regular.otf')
}
@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Avenir Next Demi Bold.otf')
}
@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Avenir Next Medium.otf')
}
.it-title {
  font-size: 21px;
  font-weight: 600;
  margin-top: 6.5px;
  @media (min-width: 1440px) {
    font-size: 34px;
  }
}
body {
  background-color: #eaebef;
}
.it_page_title {
  font-size: 28px;
  font-weight: 600;
}
.it_cycle_times {
  width: 38px;
  height: 38px;
  background-color: #eceff4;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  right: 15px;
}
.it_cycle_item {
  width: 40px;
  height: 40px;
  background-color: #eceff4;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 42px;
  padding-left: 2px;
  font-size: 20px;
  opacity: 0.8;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, .2);
}
.it-char {
  span {
    &:first-child {
      opacity: 0.6;
      font-size: 12px;
      margin-right: .5em;
    }
    &:last-child {
      font-size: 14px;
      font-weight: 500;
    }
    @media (min-width: 1440px) {
      &:first-child {
        font-size: 16px;
      }
      &:last-child {
        font-size: 20px;
      }
    }
  }
}
.it-char-flex {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 1.5em;
  @media (min-width: 1440px) {
    line-height: 60px;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    div:first-child {
      padding-right: .5em;
    }
    .it-char {
      span:first-child {
        position: relative;
        top: -3px;
        font-size: 12px;
      }
      span:last-child {
        font-size: 20px;
      }
    }
    .it-char:first-child {
      margin-right: 20px;
    }
  }
}
.it-trading_view {
  height: 512px;
}
.it-medium {
  font-weight: 500;
}
.wallet {
  position: relative;
  .it-icon {
    width: 18px;
    opacity: 0.6;
  }
}
.it-fs16 {
  font-size: 16px;
}
.it-fs14 {
  font-size: 14px;
}
.it-fs12 {
  font-size: 12px;
}
.it-fs11 {
  font-size: 12px;
}
.it-fs8 {
  font-size: 8px;
}
.it-fs10 {
  font-size: 10px;
}
.it-fs11 {
  font-size: 11px;
}
.it-fs18 {
  font-size: 18px;
}
.it-fs24 {
  font-size: 24px;
}
.it-fs34 {
  font-size: 24px;
}
.it_light_opacity {
  opacity: 0.8;
}
.it_bg_silver {
  background-color: #bebebe;
}
.it-hr-text {
  margin-top: 0;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    font-size: 9px;
    padding: 0 .5em;
    line-height: 2.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}
.it-order-book {
  .tb-1 {
    padding-right: 0;
  }
  .tb-2 {
    padding-left: 0;
  }
}
.it-table-block {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
  left: 2px;
  bottom: -3px;
  line-height: 20px;
}
.it-half-opacity {
  opacity: .5;
}
.it-small_btn_gr {
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  color: #282e3d
}
.it-container {
  position: static;
  width: 100%;
  min-width: 1024px;
  max-width: 2088px;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  font-family: "Avenir Next" ,sans-serif !important;
  font-size: 14px;
  color: #1b1f2b;
  background-color: #eaebef;
  overflow-x: hidden;
}
.it-page {
  top: 46px;
  margin-left: 94px;
  background-color: #ffffff;
  height: auto;
  width: calc(100% - 96px);
  border-top-left-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, .2);
  border-right: 0;
  border-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: absolute;
  min-height: 100%;
  overflow-x: hidden;
}
.it-market-history-extra-col {
  @media (min-width: 1440px) {
    display: none;
  }
}
.it-shadow {
  box-shadow: -1px -1px 8px 0 rgba(0, 0, 0, .2);
}
.it-gr-btn {
  position: relative;
  div {
    position: absolute;
    border: 1px solid #CBCED4;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    cursor: pointer;
  }
  div:first-child {
    background-color: #F5F7FA;
    width: 79px;
    height: 25px;
    color: #282e3d;
    font-size: 12px;
  }
  .active {
    width: 63px;
    height: 25px;
    background-color: white;
    font-weight: 600;
    font-size: 12px;
    left: 75px;
  }
}
.it-btn-group {
  height: 25px;
  border-radius: 3px;
  border: 1px solid silver;
  background-color: #f5f7fa;
  font-size: 12px;
  .it-btn {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1.5em;
    padding-left: 1.5em;
    line-height: 15px;
    text-align: center;
    span {
      opacity: 0.5;
    }
  }
  .it-btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid silver;

  }
  .it-btn:last-child {
    border-left: 1px solid silver;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .active {
    border-radius: 3px;
    border: 1px solid silver;
    position: relative;
    left: -1px;
    height: 25px;
    top: -1px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-weight: 600;
  }
}
.it-delimiter {
  width: 9px;
  border-bottom: 1px solid black;
  opacity: 0.4;
}
.it-trading {
  .row {
    .col {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  @media (max-width: 1430px) {
    .market {
      margin-top: 8px;
    }
  }
  @media (min-width: 1440px) {
    .row {
      .col {
        &:first-child {
          padding-left: 30px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }
  }
  .btn-buy-sell {
    button {
      width: 50%;
    }
  }
  .col-lg-9 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-lg-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}